#파이썬 시작하기, 파이썬 변수

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
print("C:\Windows")

C:\Windows

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 줄바꿈 \t 탭

안녕하세요.
만나서		반갑습니다.

In [ ]:
print("오늘은", "일요일")

오늘은 일요일

In [ ]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [ ]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [ ]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [ ]:
print("first", end="");print("second")

firstsecond

In [ ]:
print(5/3)

1.6666666666666667

In [ ]:
삼성전자=50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
시가총액 = 2900000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2900000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
s = "hello"
t = "python"
print(s+"!" ,t)

hello! python

In [ ]:
a = "132"
print(type(a))

<class 'str'>

In [ ]:
num_str = "720"
num_int=int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [ ]:
num = 100
result=str(num)
print(result, type(result))

100 <class 'str'>

In [ ]:
data="15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [ ]:
year = "2020"
year = int(year)
print(year, year-1, year-2)

2020 2019 2018

In [ ]:
price = 48584
month = 36
total = price * month
print(total)

1749024

#파이썬 문자열

In [ ]:
letters = 'python'
print(letters[0], letters[2])

p t

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::2])
# 슬라이싱 [시작인덱스:끝인덱스:오프셋]

홀홀홀

In [ ]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
from os import replace
phone_number = "010-1111-2222"
phone_number1=phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [ ]:
from os import replace
phone_number = "010-1111-2222"
phone_number2=phone_number.replace("-", "")
print(phone_number2)

01011112222

In [ ]:
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[-1])

kr

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)
# 문자열은 수정할 수 없음 할당(assignment)메서도 지원 안 함

TypeError: ignored

In [ ]:
string = 'abcdfe2a354a32a'
string1 = string.replace("a", "A")
print(string1)

Abcdfe2A354A32A

In [ ]:
string = 'abcd'
string1= string.replace('b', 'B')
print(string)
print(string1)

# 문자열은 변경할 수 없는 자료형

abcd
aBcd

In [ ]:
a = "3"
b = "4"
print(a + b) #34

34

In [ ]:
print("Hi" * 3) #HiHiHi

HiHiHi

In [ ]:
print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
t1 = 'python'
t2 = 'java'
t3 = t1 + " " + t2 + " "
print( t3 * 4)

python java python java python java python java

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
formatted_string1 = "이름: %s 나이: %d" % (name1, age1)
formatted_string2 = f"이름: {name2} 나이: {age2}"
print(formatted_string1)
print(formatted_string2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
print("이름: %s 나이: %d" % (name1, age1))

이름: 김민수 나이: 10

In [ ]:
print("이름: {} 나이: {}".format(name2, age2))

이름: 이철희 나이: 13

In [ ]:
print(f"이름: {name1} 나이: {age2}")

이름: 김민수 나이: 13

In [ ]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))
타입변환+1

5969782550 <class 'int'>

5969782551

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
data = "   삼성전자    "
data.replace(" ", "")

'삼성전자'

In [ ]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [ ]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

ticker = "BTC_KRW"
ticker2 = ticker.lower()
print(ticker2)

BTC_KRW
btc_krw

In [ ]:
data= "hello"
data = data.capitalize()
print(data)

Hello

In [ ]:
file_name = "보고서.xls"
file_name.endswith("xlsx")

False

In [ ]:
file_name.endswith(("xlsx", "xls"))

True

In [ ]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
a = "hello world"
a = a.split(" ")
print(a)

['hello', 'world']

In [ ]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
date = "2020-05-01"
date = date.split("-")

In [ ]:
print("연도:", date[0])
print("월:", date[1])
print("일:", date[2])

연도: 2020
월: 05
일: 01

In [ ]:
data = "039490     "
data.rstrip()

'039490'

In [ ]:
data = "       039490     "
data.rstrip()

'       039490'

#파이썬 리스트

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [ ]:
movie_rank.append("배트맨")

In [ ]:
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [ ]:
del sum
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])
print(nums[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a = " ".join(interest)
print(a)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
result = "/".join(interest)
print(result)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
result2 = "\n".join(interest)
print(result2)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]

data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

#파이썬튜플

In [ ]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
movie_rank = ("닥터스트레인지", "스플릿", "럭키")
print(type(movie_rank))

<class 'tuple'>

In [ ]:
one = (1)
print(type(one)) #int

one1 = (1, )
print(type(one1)) #tuple

<class 'int'>
<class 'tuple'>

In [ ]:
t = (1, 2, 3)
t[0] = 'a' #튜플은 원소(elemen) 값을 변경할 수 없음

TypeError: ignored

In [ ]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [ ]:
movie_rank = "닥터스트레인지", "스플릿", "럭키"
print(type(movie_rank)) #괄호 없이도 동작

<class 'tuple'>

In [ ]:
#t[0] = 'A' # 튜플은 값 변경 못함
t = ('A', 'b', 'c')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data, type(data))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [ ]:
data2 = tuple(data)
print(data2, type(data2))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
even = ()
for i in range(1,99):
  if i%2==0:
    even = even + (i,)
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

#파이썬 딕셔너리

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
a, b, *valid_score= scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
temp = { }

In [ ]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
print("메로나 가격: ", ice.get('메로나'))

메로나 가격:  1000

In [ ]:
ice['메로나'] = 1300

In [ ]:
ice.pop('메로나')

1300

In [ ]:
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
del ice['메로나'] #딕셔너리에 없는 키 사용하여 인덱싱하면 에러 발생

KeyError: ignored

In [ ]:
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
print(inventory['메로나'][0], "원")

300 원

In [ ]:
print(inventory['메로나'][1], "개")

20 개

In [ ]:
inventory["월드콘"] = (500, 7)
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': (500, 7)}

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
keylist = list(icecream.keys())
ice = []
ice = icecream.keys()
print(keylist)
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [ ]:
icecream["거북알"] = 1500
print(keylist)
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나', '거북알'])

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
valuelist = list(icecream.values())
print(valuelist)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
print(sum(icecream.values()))

6700

In [ ]:
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

#파이썬 분기문

In [ ]:
type(True)

bool

In [ ]:
print(3 == 5) #f
print(3 < 5) #t

x = 4
print(1 < x < 5) #t

print ((3 == 3) and (4 != 3)) #t

False
True
True
True

In [ ]:
#print(3 => 4)
print(3 >= 4)

False

In [ ]:
if 4 < 3:
    print("Hello World")

In [ ]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
#1
#2
#4

1
2
4

In [ ]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
#3
#5

3
5

In [ ]:
user = input("입력:")
print(user * 2)

입력:d
dd

In [ ]:
a = input("숫자를 입력하세요: ")
result = int(a) +10
print( result )

숫자를 입력하세요: 1535
1545

In [ ]:
user = input()
if(int(user)%2==0):
  print("짝수")
else:
  print("홀수")

1513535
홀수

In [ ]:
user = input("")
result = int(user) + 20
if result > 255:
  print(255)
else:
  print(result)

255
255

In [ ]:
user = input("")
result = int(user) - 20
if result < 0:
  print(0)
elif result > 255:
  print(255)
else:
  print(result)

280
255

In [ ]:
user = input("현재시간: ")
split = user.split(":")
if split[-1] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:02:09
정각이 아닙니다.

In [ ]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 01:00
정각 입니다.

In [ ]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")

if user in fruit:
  print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? ㅁ
오답입니다.

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

user = input("투자 종목을 입력하세요: ")
if user in warn_investment_list:
  print("투자 경고 종목입니다")
else:
  print("투자 경고 종목이 아닙니다")

투자 종목을 입력하세요: LG
투자 경고 종목입니다

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
  print("정답입니다")
else:
  print("오답입니다")

제가좋아하는계절은: 딸기
오답입니다

In [ ]:
user = input("제가좋아하는과일은: ")
if user in fruit.values():
  print("정답입니다")
else:
  print("오답입니다")

제가좋아하는과일은: 토마토
정답입니다

In [ ]:
user = input("")

if user.islower():
  print(user.upper())
else:
  print(user.lower())

B
b

In [ ]:
score = input("점수를 입력하세요: ")
score = int(score)

if score >= 81 and score <= 100:
  grade = "A"
elif score >= 61 and score <= 80:
  grade = "B"
elif score >= 41 and score <= 60:
  grade = "C"
elif score >= 21 and score <= 40:
  grade = "D"
else:
  grade = "E"

print("grade is", grade)

점수를 입력하세요: 91
grade is A

In [ ]:
money = input("입력: ")
money = money.split(" ")
currency = int(money[0])
unit = money[1]

if unit == "달러":
  print( currency * 1167 )
elif unit == "엔":
  print( currency * 1.096 )
elif unit == "유로":
  print( currency * 1268 )
else:
  print(currency * 171)

입력: 100 유로
126800

In [ ]:
환율 = { "달러": 1167,
      "엔": 1.096,
       "유로": 1268,
       "위안": 171}
user = input("입력")
unit, currency = user.split()
print(float(unit)*환율[currency], "원")

입력100 유로
126800.0 원

In [ ]:
num = []
for i in range(3):
  number = int(input(f"input number{i+1}: "))
  num.append(number)
print(max(num))

input number1: 40
input number2: 20
input number3: 0
40

In [ ]:

통신사 = {"011" : "SKT",
       "016": "KT",
       "019": "LGU",
       "010": "알수없음"}

phone = input("휴대전화 번호 입력:" )
phone = phone.split("-")

print("당신은", 통신사[phone[0]], "사용자입니다.")
print(f"당신은 {통신사[phone[0]]} 사용자입니다.")

휴대전화 번호 입력:011-324-1453
당신은 SKT 사용자입니다.
당신은 SKT 사용자입니다.

In [ ]:
우편번호 = {"강북구": ["010", "011", "012"],
        "도봉구": ["013","014","015"],
        "노원구": ["016","017","018", "019"]}

postcode = input("우편번호: ")
n = postcode[:3]

if n in 우편번호["강북구"]:
  print("강북구")
elif n in 우편번호["도봉구"]:
  print("도봉구")
else:
  print("노원구")

우편번호: 01034
강북구

In [ ]:
우편번호 = {"강북구": ["010", "011", "012"],
        "도봉구": ["013","014","015"],
        "노원구": ["016","017","018", "019"]}

postcode = input("우편번호: ")
n = postcode[:3]

for 구, 우편번호들 in 우편번호.items():
  if n in 우편번호들:
    print(구)
    break
else: # 검색 실패 시 수행
    print(f"{postcode}는 등록되지 않은 우편번호 입니다.")

우편번호: 02000
02000는 등록되지 않은 우편번호 입니다.

In [ ]:
user = input("주민등록번호: ")
if int(user[7]) in(1, 3):
  print("남자")
else:
  print("여자")

주민등록번호: 294837-3029182
남자

In [ ]:
user = input("주민등록번호: ")
user = user.split("-")[1]
if user[:1] in("09", "10", "11", "12"):
  print("서울이 아닙니다.")
else:
  print("서울 입니다.")

주민등록번호: 0395834-30204345
서울 입니다.

In [ ]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0<=int(뒷자리[1:3])<=8:
  print("서울 입니다")
else:
  print("서울이 아닙니다.")

주민등록번호: 13413535-010304234
서울이 아닙니다.

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc

{'opening_price': '59060000',
 'closing_price': '59133000',
 'min_price': '58835000',
 'max_price': '60080000',
 'units_traded': '4108.71702679',
 'acc_trade_value': '244123483757.7556',
 'prev_closing_price': '59060000',
 'units_traded_24H': '4180.09233414',
 'acc_trade_value_24H': '248351075267.6828',
 'fluctate_24H': '-265000',
 'fluctate_rate_24H': '-0.45',
 'date': '1703256126985'}

In [ ]:
시가 = float(btc["opening_price"])
최고가 = float(btc["max_price"])
최저가 = float(btc["min_price"])
변동폭 = 최고가-최저가


if 시가 + 변동폭 > 최고가:
  print("상승장")
else:
  print("하락장")

상승장

In [ ]:
주민번호 = input("주민등록번호:  " ).replace("-", "")
result = 0

for i in range(12):
  result += int(주민번호[i]) * (i+2) if i <= 7 else int(주민번호[i]) * (i-6)

check_digit = 11 - (result % 11)
check_digit %= 10 if check_digit >= 10 else check_digit

if check_digit == int(주민번호[-1]):
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

# 주민등록번호:  394810-2049312

주민등록번호:  394810-2049312
유효하지 않은 주민등록번호입니다.

#파이썬 반복문

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
for 변수 in ["A", "B", "C"]:
  print(변수)

알파벳 = ["A", "B", "C"]
for 변수 in 알파벳:
  print(변수)

A
B
C
A
B
C

In [ ]:
print("A")
print("B")
print("C")

A
B
C

In [ ]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [ ]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [ ]:
숫자 = [10, 20, 30]
for 변수 in 숫자:
  print(변수)

10
20
30

In [ ]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [ ]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [ ]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [ ]:
for 변수 in range(4):
  print("-------")

-------
-------
-------
-------

In [ ]:
리스트 = [100, 200, 300]
for i in 리스트:
  print(i+10)

110
210
310

In [ ]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
  print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
  print(len(i))

6
4
4

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

d
c
p

In [ ]:
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 X", i)

3 X 1
3 X 2
3 X 3

In [ ]:
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 X", i, "=", 3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [ ]:
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 X {} = {}".format(i, 3*i))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [ ]:
리스트 = ["가", "나", "다", "라"]
for i in range(1,4):
  print(리스트[i])

리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
  print(i)

나
다
라
나
다
라

In [ ]:
리스트 = ["가", "나", "다", "라"]
for i in range(4):
  if i%2 == 0:
    print(리스트[i])

가
다

In [ ]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
   print(i)

가
다

In [ ]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
   print(i)

라
다
나
가

In [ ]:
리스트 = [3, -20, -3, 44]
for i in 리스트[1:3]:
   print(i)

-20
-3

In [ ]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
  if i<0:
   print(i)

-20
-3

In [ ]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
  if i%3==0:
   print(i)

3

In [ ]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
  if i%3==0 and i<20:
   print(i)

12
18

In [ ]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
  if len(i) >= 3:
   print(i)

study
python
language

In [ ]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.isupper():
   print(i)

A
D

In [ ]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.isupper() == 0:
   print(i)

b
c

In [ ]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if not i.isupper():
   print(i)

b
c

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  First = i[0].upper()
  i = First + i[1:]
  print(i)

Dog
Cat
Parrot

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [ ]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
  i = i.split(".")
  print(i[0])

hello
ex01
intro

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  판단 = i.split(".")
  if 판단[1] == "h":
    print(i)

intra.h
define.h

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  판단 = i.split(".")
  if 판단[1] == "h" or 판단[1] == "c":
    print(i)

intra.h
intra.c
define.h

In [ ]:
for i in range(1):
  print(i)

0

In [ ]:
for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
for i in range(1, 31):
  if i%3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(99, -1, -1):
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
for i in range(100):
  print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
for i in range(3, -1, -1):
  print(i)

3
2
1
0

In [ ]:
from decimal import Decimal, getcontext
getcontext().prec = 1

for i in range(10):
  print(Decimal(i) * Decimal(0.1))

0E-55
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
for i in range(10):
  print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
for i in range(1,10):
  print("3x{} = {}".format(i, 3*i))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [ ]:
for i in range(1,10):
  if i%2 != 0:
    print("3x{} = {}".format(i, 3*i))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [ ]:
sum = 0
for i in range(1,11):
  sum = sum + i
print("합 :", sum)

합 : 55

In [ ]:
for i in range(1,11):
  sum = sum + i
print("합 :", sum)

합 : 110

In [ ]:
sum = 0
for i in range(1,11):
  if i%2==1:
    sum += i
print("합 :", sum)

합 : 25

In [ ]:
sum = 0
for i in range(1,11,2):
  sum = sum + i
print("합 :", sum)

합 : 25

In [ ]:
gob = 1
for i in range(1,11):
  gob *= i
print("합 :", gob)

합 : 3628800

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  print(price_list[i])

32100
32150
32000
32500

In [ ]:
for i in range(len(price_list)):
  print(price_list[i])

32100
32150
32000
32500

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
  print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(3, -1, -1):
  print(i, price_list[i])

3 32500
2 32000
1 32150
0 32100

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)-1, -1, -1):
  print(i, price_list[i])

3 32500
2 32000
1 32150
0 32100

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
  print((len(price_list)-1)-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, len(price_list)):
  print(90 + i*10, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)):
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [ ]:
for i in range(len(my_list)-1):
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(2, len(my_list)):
  print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1, 0, -1):
  print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
  n = len(my_list)-i-1
  print(my_list[n], my_list[n-1])

라 다
다 나
나 가

In [ ]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
  cha = my_list[i+1] - my_list[i]
  print(cha)

100
200
400

In [ ]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
  avg = (my_list[i] + my_list[i+1] + my_list[i+2])/3
  print(avg)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = [0, 0, 0, 0, 0]

for i in range(len(low_prices)):
  volatility[i] = (high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(len(low_prices)):
  volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [ ]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330]]

In [ ]:
딕셔너리 = {"시가": (100, 200, 300), "종가": (80, 210, 330)} #변경 불가한 튜플
print(딕셔너리["시가"])
print(딕셔너리["시가"][0])
 # 딕셔너리["시가"][0]=1
 # TypeError: 'tuple' object does not support item assignment
print(딕셔너리["시가"][0])

(100, 200, 300)
100
100

In [ ]:
딕셔너리 = {"시가": [100, 200, 300], "종가": [80, 210, 330]} #리스트로 저장
딕셔너리["시가"][0]=1
print(딕셔너리["시가"][0]) # 변경 가능

1

In [ ]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)): # 0 1 2
  for j in range(len(apart[0])): # 0 1
    print(apart[i][j],"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart: # 0 1 2
  for col in row: # 0 1
    print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart: # 0 1 2
  for j in i: # 0 1
    print(j,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
for i in range(len(apart)-1, -1, -1): # 2 1 0
  for j in range(len(apart[0])): # 0 1
    print(apart[i][j],"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
for row in reversed(apart): # 0 1 2
  for col in row: # 0 1
    print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
for row in apart[::-1]: # 0 1 2
  for col in row: # 0 1
    print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
for row in apart[::-1]: # 2 1 0
  for col in row[::-1]: # 1 0
    print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
for row in reversed(apart): # 2 1 0
  for col in reversed(row): # 1 0
    print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
for i in range(len(apart)-1, -1, -1): # 2 1 0
  for j in range(len(apart[0])-1, -1, -1): # 1 0
    print(apart[i][j],"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
for row in apart: # 0 1 2
  for col in row: # 0 1
    print(col,"호")
    print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
for row in apart: # 0 1 2
  for col in row: # 0 1
    print(col,"호")
  print("-" * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
for row in apart: # 0 1 2
  for col in row: # 0 1
    print(col,"호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
  for col in row:
    print(col + col * 0.014 * 0.01)
    print(col * 1.00014)

2000.28
2000.28
3050.427
3050.427
2050.287
2050.2870000000003
1980.2772
1980.2772
7501.05
7501.05
2050.287
2050.2870000000003
2050.287
2050.2870000000003
1980.2772
1980.2772
15452.163
15452.163
15052.107
15052.107
15552.177
15552.177
14902.086
14902.086000000001

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
  for col in row:
    print(col * 1.00014)
  print("-" * 4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
result = []

for row in data:
  for col in row:
    result.append(col*1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for row in data:
  result1 = []
  for col in row:
    result1.append(col*1.00014)
  result.append(result1)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100], #[1][3]
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1, len(ohlc)):
   print(ohlc[i][-1])

100
190
310

In [ ]:
for row in ohlc[1:]:
  print(row[3])

100
190
310

In [ ]:
for row in ohlc[1:]:
  if row[3] > 150:
    print(row[3])

190
310

In [ ]:
for row in ohlc[1:]:
  if row[0] <= row[3]:
    print(row[3])

100
310

In [ ]:
volatility = []
for row in ohlc[1:]:
  volatility.append(row[1]-row[2])
  #print(volatility)
print(volatility)

[40, 30, 10]

In [ ]:
volatility = []
for i in range(1, len(ohlc)):
  volatility.append(ohlc[i][1]-ohlc[i][2])
  #print(volatility)
print(volatility)

[40, 30, 10]

In [ ]:
volatility = []

for row in ohlc[1:]:
  volatility = row[1]-row[2]
  if row[3] > row[0]:
    print(volatility)

10

In [ ]:
for row in ohlc[1:]:
  if row[3] > row[0]:
    print(row[1]-row[2])

10

In [ ]:
profit = 0
for row in ohlc[1:]:
  # suic = row[3]-row[0]
  profit += row[3]-row[0]
print(hab)

0

#파이썬함수

In [ ]:
def print_coin():
  str = "비트코인"
  return (str)

In [ ]:
print_coin()

'비트코인'

In [ ]:
def print_coin():
  print("비트코인")

print_coin()

비트코인

In [ ]:
def print_coins():
  for i in range(100):
    print_coin()

In [ ]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [ ]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
def print_with_smile(문자열):
  print(문자열 +":D")

문자열 = "안녕하세요"
print_with_smile(문자열)

안녕하세요:D

In [ ]:
def print_upper_price(현재가격):
  상한가 = 현재가격 * 1.3
  print(상한가)

print_upper_price(100)

130.0

In [ ]:
def print_sum(a, b):
  print(a+b)
print_sum(1,1)

2

In [ ]:
def print_arithmetic_operation(a, b):
  hab = a + b
  cha = a - b
  gob = a * b
  nanum = a / b

  print ( f"{a} + {b} = {a + b}")
  print ( f"{a} - {b} = {cha}")
  print ( f"{a} * {b} = {gob}")
  print ( f"{a} / {b} = {nanum}")


print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
def print_max(a, b, c):
  if a > b:
    if a > c:
      print(a)
    else:
      print(c)

  elif b > c:
    print(b)
  else:
    print(c)

print_max(1,2,3)

3

In [ ]:
print_max(1,2,1)

2

In [ ]:
def print_max(a, b, c):
  max_val = 0
  if a > max_val:
    max_val = a
  if b > max_val:
    max_val = b
  if c > max_val:
    max_val = c
  print(max_val)

In [ ]:
print_max(1,1,1.4)

1.4

In [ ]:
def print_reverse(문자열):
  str = ""
  for i in 문자열[::-1]:
    str += i
  print(str)

print_reverse("python")

nohtyp

In [ ]:
def print_reverse(문자열):
  print(문자열[::-1])

print_reverse("python")

nohtyp

In [ ]:
def print_score(scores: list):

  if len(scores) == 0:
    return "점수를 입력해주세요."
  else:
    avg = sum(scores) / len(scores)
    return avg

print_score ([1, 2, 3])

2.0

In [ ]:
def print_even (numbers):
  for item in numbers:
    if item % 2 == 0:
      print(item)

In [ ]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
def print_keys(person):
  for i in person.keys():
    print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, key):
  print(my_dict[key])


print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
def print_5xn(입력문자열):
  #n = int(len(입력문자열)/5)
  print(입력문자열[:5])
  print(입력문자열[5:10])


print_5xn("아이엠어보이유알어")

아이엠어보
이유알어

In [ ]:
def print_5xn(입력문자열):
  n = int(len(입력문자열)/5)
  if len(입력문자열) % 5 == 0:
    for i in range(n): # n = 2
      print(입력문자열[5*i:5*(i+1)])
  else:
    for i in range(n+1): # n = 1
      print(입력문자열[5*i:5*(i+1)])


print_5xn("아이엠어보이유알어걸")
print("-----")
print_5xn("아이엠어보이유알")

2
아이엠어보
이유알어걸
-----
1
아이엠어보
이유알

In [ ]:
def printmxn(string, n):
  n = int(len(string)/n)
  for i in range(n+1):
    print(string[n*i:n*(i+1)])

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
def calc_monthly_salary(연봉):
  월급 = int(연봉 / 12)
  print(월급*10)

calc_monthly_salary(12000000)

10000000

In [ ]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [ ]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [ ]:
my_print(100, 200)

왼쪽: 100
오른쪽: 200

In [ ]:
def make_url(문자열):
  return "www." +문자열+ ".com"

make_url("naver")

'www.naver.com'

In [ ]:
def make_list(문자열):
  result = []
  for item in 문자열:
    result.append(item)
  return result

make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
def pickup_even(numbers):
  result = []
  for number in numbers:
    if number % 2 == 0:
      result.append(number)
  return result

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
def convert_int(string):
  return int(string.replace(",",""))

convert_int("1,234,567")

1234567

In [ ]:
def 함수(num) :
    return num + 4

a = 함수(10) #a = 14
b = 함수(a) # b = 18
c = 함수(b) # c = 22
print(c)

22

In [ ]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [ ]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [ ]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [ ]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

#파이썬모듈

In [ ]:
import datetime
now = datetime.datetime.now()
print(now)

2023-12-26 05:07:38.108639

In [ ]:
print(now, type(now))

2023-12-26 05:07:38.108639 <class 'datetime.datetime'>

In [ ]:
for day in range(5,0,-1):
  delta = datetime.timedelta(days=day)
  date = now - delta
  print(date)

2023-12-21 05:07:38.108639
2023-12-22 05:07:38.108639
2023-12-23 05:07:38.108639
2023-12-24 05:07:38.108639
2023-12-25 05:07:38.108639

In [ ]:
print(now.strftime("%H:%M:%S"))

05:07:38

In [ ]:

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret)

2020-05-04 00:00:00

In [ ]:
import time
import datetime

while True:
  now = datetime.datetime.now()
  print(now)
  time.sleep(1)

2023-12-26 05:11:56.481433
2023-12-26 05:11:57.483433
2023-12-26 05:11:58.483899
2023-12-26 05:11:59.484894

KeyboardInterrupt: ignored

In [ ]:
import os
from os import rename
from os import *
import os as myos

In [ ]:
import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [ ]:
os.rename("/content/sample_data/before.txt", "/content/sample_data/after.txt")

In [ ]:
import numpy

for i in numpy.arange(0, 5, 0.1):
  print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [ ]:
file_path = "/Users/flora/Desktop/before.txt"

try:
    with open(file_path, 'r') as file:
        file_contents = file.read()
        print(file_contents)
except FileNotFoundError:
    print(f"File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: 'str' object cannot be interpreted as an integer

#파이썬 클래스

클래스는 일종의 설계도로 하나의 타입을 정의하는 방법이다.<br>
클래스에는 관련 있는 데이터와 함수를 한 데 모아 정의할 수 있다.<br>
클래스로 만들어진 결과를 객체라고 한다.

In [ ]:
class Human:
  pass

In [ ]:
class Human:
  def __init__ (self):
    print("응애응애")

areum = Human()

응애응애

In [ ]:
class Human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("이름", 25, "여자")
print(areum.name)

이름

In [ ]:
areum = Human("조아름", 25, "여자")
areum.sex
print(areum.age)

25

In [ ]:
class Human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

  def who(self):
    print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

  def setInfo(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

In [ ]:
areum = Human("조아름", 25, "여자")

areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [ ]:
areum = Human("Ahfm", 0, "ahfma")

In [ ]:
areum.who()

이름: Ahfm, 나이: 0, 성별: ahfma

In [ ]:
areum = Human("Ahfm", 0, "ahfma")

In [ ]:
areum = Human("ㅇㄹ", 0, "ahfma")

In [ ]:
areum.setInfo("아름", 25, "여자")

In [ ]:
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [ ]:
class Human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

  def who(self):
    print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

  def setInfo(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

  def __del__(self):
    print("나의 죽음을 알리지마라")

In [ ]:
areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지마라

In [ ]:
class OMG :
    def print() :
        print("Oh my god")

In [ ]:
myStock = OMG()
OMG.print()

Oh my god

In [ ]:
class Stock:
  pass

In [ ]:
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

삼성 = Stock("삼성전자", "005930")

In [ ]:
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [ ]:
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def set_name(self, name):
    self.name = name


  def set_code(self, code):
    self.code = code

a = Stock(None, None)
a.set_code("004903")

In [ ]:
print(a.name)

None

In [ ]:
print(a.code)

004903

In [ ]:
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [ ]:
class Stock:
  def __init__(self, name, code, per, pbr, 배당수익률):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.배당수익률 = 배당수익률

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

In [ ]:
삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성전자.배당수익률)

2.83

In [ ]:
class Stock:
  def __init__(self, name, code, per, pbr, dividend):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.dividend = dividend

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

  def set_per(self, per):
    self.per = per

  def set_pbr(self, pbr):
    self.pbr = pbr

  def set_dividend(self, dividend):
    self.dividend = dividend

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

In [ ]:
삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)

삼성전자.set_dividend(35123)
print(삼성전자.dividend)
print(삼성전자.code)

35123
005930

In [ ]:
삼성전자.set_per(12.75)
print(삼성전자.per)

12.75

In [ ]:
삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자	", "066570", 317.34, 0.69, 1.37)

종목정보 = []
종목정보.append(삼성전자)
종목정보.append(현대차)
종목정보.append(LG전자)

In [ ]:
for i in 종목정보:
  print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

In [ ]:
print(종목정보[0].name)

삼성전자

In [ ]:
import random


class Account:

  def __init__(self, name, balance):
    self.name = name
    self.balance = balance

    i = str(random.randint(0, 999)).zfill(3)
    j = str(random.randint(0, 99)).zfill(2)
    k = str(random.randint(0, 999999)).zfill(6)

    self.bank = "SC은행"
    self.account_number = i + "-" + j + "-" + k

    print("은행이름: {}, 계좌번호: {}".format(self.bank, self.account_number))

In [ ]:
kim = Account("김민수", 1000000000)

은행이름: SC은행, 계좌번호: 430-67-266125

In [ ]:
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
1000000000
SC은행
430-67-266125

In [ ]:
import random


class Account:
  account_count = 0

  def __init__(self, name, balance):
    self.name = name
    self.balance = balance

    i = str(random.randint(0, 999)).zfill(3)
    j = str(random.randint(0, 99)).zfill(2)
    k = str(random.randint(0, 999999)).zfill(6)

    self.bank = "SC은행"
    self.account_number = i + "-" + j + "-" + k

    # print("은행이름: {}, 계좌번호: {}".format(self.bank, self.account_number))

    Account.account_count += 1

In [ ]:
kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [ ]:
import random


class Account:
  account_count = 0

  def __init__(self, name, balance):
    self.name = name
    self.balance = balance

    i = str(random.randint(0, 999)).zfill(3)
    j = str(random.randint(0, 99)).zfill(2)
    k = str(random.randint(0, 999999)).zfill(6)

    self.bank = "SC은행"
    self.account_number = i + "-" + j + "-" + k

    # print("은행이름: {}, 계좌번호: {}".format(self.bank, self.account_number))

    Account.account_count += 1

  @classmethod
  def get_account_num(self):
    print(self.account_count)

In [ ]:
kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [ ]:
import random


class Account:
  account_count = 0

  def __init__(self, name, balance):
    self.name = name
    self.balance = balance

    i = str(random.randint(0, 999)).zfill(3)
    j = str(random.randint(0, 99)).zfill(2)
    k = str(random.randint(0, 999999)).zfill(6)

    self.bank = "SC은행"
    self.account_number = i + "-" + j + "-" + k

    # print("은행이름: {}, 계좌번호: {}".format(self.bank, self.account_number))

    Account.account_count += 1


  @classmethod
  def get_account_num(self):
    print(self.account_count)

  def deposit(self, amount):
    if amount >= 1:
      self.balance += amount

  def withdraw(self, amount):
    if self.balance > amount:
      self.balance -= amount
    else:
      print("계좌의 잔고 이상으로 출금할 수 없습니다.")

In [ ]:
kim = Account("김민수", 100)
print(kim.balance)
kim.deposit(300)
print(kim.balance)
kim.withdraw(200)
print(kim.balance)
kim.withdraw(200)
print(kim.balance)
kim.withdraw(200)
print(kim.balance)

100
400
200
계좌의 잔고 이상으로 출금할 수 없습니다.
200
계좌의 잔고 이상으로 출금할 수 없습니다.
200

In [ ]:
import random


class Account:
  account_count = 0

  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
    self.count = 0

    i = str(random.randint(0, 999)).zfill(3)
    j = str(random.randint(0, 99)).zfill(2)
    k = str(random.randint(0, 999999)).zfill(6)

    self.bank = "SC은행"
    self.account_number = i + "-" + j + "-" + k

    # print("은행이름: {}, 계좌번호: {}".format(self.bank, self.account_number))

    Account.account_count += 1

  @classmethod
  def get_account_num(self):
    print(self.account_count)

  def deposit(self, amount):
    if amount >= 1:
      self.balance += amount
      self.count +=1
      if self.count == 5:
      # if self.deposit_count % 5 == 0:         # 5, 10, 15

        # count = 0
        self.balance *= 1.01


  def withdraw(self, amount):
    if self.balance > amount:
      self.balance -= amount
    else:
      print("계좌의 잔고 이상으로 출금할 수 없습니다.")


  def display_info(self):
      print("은행이름: ", self.bank)
      print("예금주: ", self.name)
      print("계좌번호: ", self.account_number)
      print("잔고: ", f"{self.balance:,}")

In [ ]:
p = Account("파이썬", 10000)
p.display_info()

은행이름: SC은행 예금주: 파이썬, 계좌번호: 956-36-438005, 잔고: 10,000

In [ ]:
print(type(1.0))

In [ ]:
kim = Account("김민수", 100)
print(kim.balance)

100

In [ ]:
kim.deposit(300)
print(kim.balance)

kim.deposit(300)
print(kim.balance)

kim.deposit(300)
print(kim.balance)

kim.deposit(300)
print(kim.balance)

kim.deposit(300)
print(kim.balance)

400
700
1000
1300
1616.0

In [ ]:
Ki = Account("Ki", 1000000)
Te = Account("Te", 100000)
Pe = Account("Pe", 10000000)

Customers = [Ki, Te, Pe]

In [ ]:
print(Customers)

[<__main__.Account object at 0x791bdb6f7be0>, <__main__.Account object at 0x791bdb6f6830>, <__main__.Account object at 0x791bdb6f6170>]

In [ ]:
for i in Customers:
  if i.balance >= 1000000:
    i.display_info()

은행이름:  SC은행
예금주:  Ki
계좌번호:  262-38-802403
잔고:  1,000,000
은행이름:  SC은행
예금주:  Pe
계좌번호:  016-97-691698
잔고:  10,000,000

In [ ]:
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)

    def withdraw(self, amount):
        if self.balance > amount:
            self.deposit_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def deposit_history(self):
      for amount in self.deposit_log:
        print(amount)

    def withdraw_history(self):
      for amount in self.withdraw_log:
        print(amount)




data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x791bdb6f6d40>, <__main__.Account object at 0x791bdb6f5a50>, <__main__.Account object at 0x791bdb6f41c0>]

In [ ]:
k.deposit(100)

In [ ]:
k.deposit_history()

100
200
300

In [ ]:
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [ ]:
import random
from datetime import datetime

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []
        self.transaction_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 계좌번호 생성
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
                # 이자 지금
                self.balance = (self.balance * 1.01)

            # 시간 기록
            transaction_time = datetime.now()
            self.transaction_log.append((transaction_time, "Deposit", amount))

    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

            # 시간 기록
            transaction_time = datetime.now()
            self.transaction_log.append((transaction_time, "Withdraw", amount))

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)

    def transaction_history(self):
        for transaction in self.transaction_log:
            time, type, amount = transaction
            print(f"{time} - {type}: {amount}")

# 예제 사용
k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

# 시간 기록 확인
k.transaction_history()

100
200
300
100
200
2024-01-08 02:10:05.947271 - Deposit: 100
2024-01-08 02:10:05.947301 - Deposit: 200
2024-01-08 02:10:05.947346 - Deposit: 300
2024-01-08 02:10:05.947558 - Withdraw: 100
2024-01-08 02:10:05.947586 - Withdraw: 200

In [ ]:
import random
from datetime import datetime


class Account:
  def __init__(self, owner, balance):
    self.count = 0
    self.deposit_record = [] #amount
    self.withdraw_record = [] #amount
    self.tx_record = [] #time
    self._w_limit = 5000000

    self.owner = owner
    self.balance = balance
    self.bank = 'SC은행'
    self.account_number = self.generate_account_number()


  def generate_account_number(self):
    a_num1 = random.randint(0, 999)
    a_num2 = random.randint(0, 99)
    a_num3 = random.randint(0, 999999)

    a_num1 = str(a_num1).zfill(3) #1 => 001
    a_num2 = str(a_num2).zfill(2)
    a_num3 = str(a_num3).zfill(6)

    return a_num1 + '-' + a_num2 + '-' + a_num3


  def deposit(self, d_amount):
      if d_amount >= 1:
        # self.deposit_record.append(d_amount)
        self.balance += d_amount
        self.count += 1
        # if count == 5:
        # 이자 지급
        if self.count % 5 ==0:
          self.balance *= 1.01

        # 입금 내역 기록
        transaction_time = datetime.now()
        self.deposit_record.append((transaction_time, "입금", d_amount))


  def withdraw(self, w_amount):
    if w_amount < self.balance:
      if self._w_limit >= w_amount:
        self.balance = self.balance - w_amount

        # 출금 내역 기록
        transaction_time = datetime.now()
        self.withdraw_record.append((transaction_time, "출금", w_amount))
      else:
        print("1회 출금한도를 초과하였습니다. 출금한도는 {:,}원 입니다.".format(self._w_limit))
    else:
      print("잔액이 부족하여 출금할 수 없습니다.")

  def display_info(self):
    print("은행이름: {}, 예금주: {}, 계좌번호: {}, 잔고: {:,}원".format(self.bank, self.owner, self.account_number, self.balance))

  def deposit_history(self):
    for record in self.deposit_record:
      time, type, amount = record
      print(f"{time} - {type}: {amount:,}원")

  def withdraw_history(self):
    for record in self.withdraw_record:
      time, type, amount = record
      print(f"{time} - {type}: {amount:,}원")

  def all_history(self):
    all_transaction = sorted(self.deposit_record + self.withdraw_record, key=lambda x: x[0])
    for record in all_transaction:
      time, type, amount = record
      print(f"{time} - {type}: {amount:,}원")
    print("잔고: {:,}원".format(self.balance))


  def withdraw_limit(self):
    self._w_limit = int(input("1회 출금 한도를 입력하세요, 초기 한도는 500만원 입니다."))
    print("출금한도는 {:,}원 입니다.".format(self._w_limit))

## 파이썬 클래스2

In [22]:
class 차:
  def __init__(self, 바퀴, 가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

  def 정보(self):
    print("바퀴수 {}".format(self.바퀴))
    print("가격 {}".format(self.가격))

In [7]:
car = 차(2, 1000)

In [8]:
car.바퀴

2

In [9]:
car.가격

1000

In [11]:
class 자전차(차):
  pass

In [12]:
bicycle = 자전차(2, 100)
bicycle.가격

100

In [28]:
class 자전차(차):
  def __init__(self, 바퀴, 가격, 구동계):
    # self.바퀴 = 바퀴
    # self.가격 = 가격
    super().__init__(바퀴, 가격)
    self.구동계 = 구동계

  def 정보(self):
    # print("바퀴수 {}".format(self.바퀴))
    # print("가격 {}".format(self.가격))
    super().정보()
    print("구동계 {}".format(self.구동계))

bicycle = 자전차(2, 100, "시마노")
bicycle.구동계
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [17]:
class 자동차(차):
  def __init__(self, 바퀴, 가격):
    super().__init__(바퀴, 가격)

  def 정보(self):
    print("바퀴수 {}".format(self.바퀴))
    print("가격 {}".format(self.가격))

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [25]:
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

In [29]:
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

In [30]:
나 = 자식()
나.호출()

자식호출

In [31]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

In [32]:
나 = 자식()

자식생성

In [33]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()

자식생성
부모생성

# 파일 입출력과 예외처리

In [34]:
pwd

'/content'

In [36]:
f = open("/content/drive/MyDrive/매수종목1.txt", mode="wt", encoding="utf-8")

In [37]:
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [43]:
f = open("/content/drive/MyDrive/매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [44]:
import csv

f = open("/content/drive/MyDrive/매수종목.csv", mode="wt", encoding="utf-8", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", "15.59"])
writer.writerow(["NAVER", "035420", "55.82"])
f.close()

In [45]:
f = open("/content/drive/MyDrive/매수종목1.txt", encoding="utf-8")
lines = f.readlines() # python list

codes = []
for line in lines:
  code = line.strip() #'\n'
  codes.append(code)

print(codes)

f.close()

['005930', '005380', '035420']

In [48]:
f = open("/content/drive/MyDrive/매수종목2.txt", mode="at", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()
# (wt)쓰기모드 (at)추가모드

In [52]:
f = open("/content/drive/MyDrive/매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
  line = line.strip() #'\n' 제거
  k, v = line.split()
  # print(k,v)
  data[k] = v

print(data)
f.close()

005930 삼성전자
005380 현대차
035420 NAVER
005930 삼성전자
005380 현대차
035420 NAVER
005930 삼성전자
005380 현대차
035420 NAVER
{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [54]:
per = ["10.31", "", "8.00"]

for i in per:
  try:
    print(float(i))
  except:
    print(0)

10.31
0
8.0

In [59]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
  try:
    new_per.append(float(i))
  except:
    new_per.append(0)

print(per)
print(new_per)

['10.31', '', '8.00']
[10.31, 0, 8.0]

In [61]:

try:
  b = 3 / 0

except ZeroDivisionError:
  print("0으로 나누면 안돼요")

0으로 나누면 안돼요

In [67]:
data = [1, 2, 3]

for i in range(5):
  try:
    print(data[i])
  except IndexError as e:
    print(e)

1
2
3
list index out of range
list index out of range

In [70]:
per = ["10.31", "", "8.00"]

for i in per:
  try:
    print(float(i)) # 실행 코드

  except:
    print(0) # 예외 발생했을 때 수행할 코드

  else:
    print("clean data") # 예외가 발생하지 않았을 때 수행할 코드

  finally:
    print("변환 완료") # 예외 발생 여부 상관없이 수행할 코드

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료